.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.clean,
.touched,
.saving,
.saved,
.error {
    font-size: 1rem;
    padding: 20px 0px;
    :hover {
        font-weight: bold;
    }
}

.clean { color: gray; }
.touched { color: orange; }
.saving { color: blue }
.saved { color: green; }
.error { color: red; }