.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    padding: 12px;
}

.addButton {
    background-color: #ec622b;
    margin: 20px 0px;
}

.listContainer {
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
}

.modalContent {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modalTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    min-width: 300px;
    width: stretch;
    max-width: 700px;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
}
